<template>
    <div>
        <NavHome :color="color"/>
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">D' MODA</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                </div>
            </div>
        </header>

        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">dmodas@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefono</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+1 (519) 74251049</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return {
            color:''
        }
    },
    components:{NavHome},
}
</script>